<head>
  <title>CrowFly</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'jquery', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
    <div id="toolbar">
      <%= render '/application/toolbar' %>
      <div id="showbar">
        <h2>Viewer: <span class="white"><%= link_to @viewer.title, [@user, @viewer] %></span></h2>
      </div>
      <div id="notice">
        <div class="message">
          <% if @viewer.errors.any? || flash[:notice] || flash[:alert] %>
            <script>displayNotice()</script>
            <% @viewer.errors.full_messages.each do |msg| %>
              <p><%= msg %>.</p>
            <% end %>
            <p><%= flash[:notice] %> <%= flash[:alert] %></p>
          <% end %>
        </div>
        <div class="close">
          <%= link_to 'x', '#', :onclick => 'hideNotice()' %>
        </div>
      </div>
    </div>
    <div id="content">      
      <div id="left-panel">
        <div id="navigation">
          <span class="active"><%= link_to image_tag("viewers.png"), user_viewers_path %></span>
          <span class="dormant"><%= link_to image_tag("overlays.png"), user_overlays_path %></span>
          <span class="dormant"><%= link_to image_tag("geofiles.png"), user_geofiles_path %></span>          
          <%= image_tag("arrow.png") %>
          <span class="dormant"><%= link_to image_tag("beginning.png"), edit_user_viewer_beginning_path(@user, @viewer, @beginning) %></span>
          <span class="dormant"><%= link_to image_tag("destinations.png"), user_viewer_destinations_path(@user, @viewer) %></span>
          <span class="active"><%= link_to image_tag("points.png"), user_viewer_points_path(@user, @viewer) %></span>
        </div>
        <div id="panel-content">
        </div>
        <div id="tip">
          <div class="tip">
            <u>Tip</u><br />Points identify destinations and provide additional information.
          </div>
        </div>
      </div>
      <div id="right-panel">
        <div id="index">
          <h1><%= @viewer.title %>: Points</h1>
          <br />
          <div id="list">
            <% @points.each do |p| %>
              <div class="list-item">
                <%= p.name %><div class="right"><%= link_to 'Edit', edit_user_viewer_point_path(@user, @viewer, p) %> | <%= link_to 'Destroy', [@user, @viewer, p], :confirm => 'Are you sure?', :method => :delete %></div>
              </div>
            <% end %>
          </div>
          <br />
          <div class="new"><%= link_to image_tag("clear.png"), new_user_viewer_point_path(@user, @viewer) %></div>
        </div>
      </div>
    </div>
    <%= render '/application/footer'%>    
  </div>
</body>