<h1>Users</h1>
<br />
<ul id="list">
  <% @users.each do |u| %>      
    <%= u.last_name %>, <%= u.first_name %> | <%= u.email %> | <%= link_to u.company_name, user_path(u.id) %>         
  <% end %>
</ul>
<div class="new"><%= link_to image_tag("clear.png"), new_user_registration_path %></div>