<div id="footer">
  <p>&copy;<%= link_to '2011', 'http://en.wikipedia.org/wiki/2011', :class => 'rbs '%> <%= link_to 'Run by sailoR', 'http://runbysailor.com', :class => 'rbs' %></p>
  <%= link_to 'About', about_path %> | <%= link_to 'Contact', contact_path %> | <%= link_to 'Terms', terms_path %>
</div>