<div id="logo">
  <%= link_to image_tag('logo_inverse_small.png'), root_path %>
</div>
<% unless action_name == 'present' || action_name == 'map' %>
  <div id="links">
    <% if user_signed_in? %>
      <%= link_to current_user.company_name, "/" + current_user.company_name %> 
      <br />
      <%= link_to "Sign Out", destroy_user_session_path %> | <%= link_to "Support", "mailto:hello@crowfly.co" %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <br />
      <%= link_to "Support", "mailto:hello@crowfly.co" %>
    <% end %>
  </div>
<% end %>