<h2>Send Invitation</h2>
<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name) do |f| %>
  <%= devise_error_messages! %>
  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>
  <p><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></p>
  <p><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></p>
  <p><%= f.submit "Send an invitation" %></p>
<% end %>
<%= link_to "Home", after_sign_in_path_for(resource_name) %>